* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    height: 100dvh;

    display: grid;
    grid-template-rows: 30px 1fr;
    gap: 20px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* NAV */
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px 20px 0;
    width: 100%;
    align-items: center;
}

header > h1 {
    margin-right: auto;
    text-wrap: nowrap;
}

nav {
    display: flex;
    gap: 10px;
    justify-content: end;
}

button {
    font: inherit;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
    transition: all .3s ease;
}

button:disabled {
    cursor: text;
}

button:hover, button:active {
    transform: scale(1.1);
}

/* CONTENT */
#content {
    gap: 20px;
    padding: 20px;
    text-wrap: pretty;
    max-width: 100dvw;
    transition: all .5s ease;
}

/* home */
#content.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#present-img {
    width: min(80vw, 800px);
}

#description {
    text-align: center;
}

#description > h1 {
    letter-spacing: 15px;
    margin-bottom: 10px;
}

#infos {
    display: flex;
    gap: 10px;
    justify-content: center;
}

#infos > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    width: min(200px, 30dvw)
}

/* Menu */
#content.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    overflow: auto;
    align-items: start;
}

.menu > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
    gap: 10px;
    box-shadow: 0 0 5px;
    border-radius: 1rem;
    text-wrap: pretty;
}

.menu svg {
    width: 48px;
    height: 48px;

    cursor: pointer;
}