* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    text-wrap: pretty;
    max-width: 100vw;
}

#present-img {
    width: min(100%, 800px);
}

#description {
    text-align: center;
}

#infos {
    display: flex;
    gap: 10px;
    justify-content: center;
}

#infos > div {
    border: 1px solid;
    text-align: center;
    width: min(200px, 30vw)
}